#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_16 > .backgroundLayer {
  height: calc(100% + -6px);
  width: calc(100% + -6px);
  background-color: #434343;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 21px 21px 21px 21px;
  box-shadow: none;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_16 {
  position: absolute;
  width: 267px;
  height: 47px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_16 > .clipping, #m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_16 > .paddingLayer {
  height: 41px;
  width: 261px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_16 span#rtr-m-57eb3f77-Rectangle_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_17 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #434343;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 19px 19px 19px 19px;
  box-shadow: none;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_17 {
  position: absolute;
  width: 135px;
  height: 43px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_17 > .clipping, #m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_17 > .paddingLayer {
  height: 41px;
  width: 133px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_17 span#rtr-m-57eb3f77-Rectangle_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_18 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 19px 19px 19px 19px;
  box-shadow: none;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_18 {
  position: absolute;
  width: 129px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_18 > .clipping, #m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_18 > .paddingLayer {
  height: 41px;
  width: 127px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_18 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Rectangle_18 span#rtr-m-57eb3f77-Rectangle_18_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_5 {
  position: absolute;
  width: 74px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_5 > .clipping, #m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_5 > .paddingLayer {
  height: 16px;
  width: 74px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_5 span#rtr-m-57eb3f77-Text_5_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_6 {
  position: absolute;
  width: 81px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_6 > .clipping, #m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_6 > .paddingLayer {
  height: 16px;
  width: 81px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_6 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_6 span#rtr-m-57eb3f77-Text_6_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d #m-57eb3f77-Text_6 span#rtr-m-57eb3f77-Text_6_1 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-57eb3f77-bfe0-4694-8272-0f4da514ea8d.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}