#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40) ;
  filter: alpha(opacity=40) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}