#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  -ms-transform: rotate(0.0deg);
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Line_1 {
  stroke-width: 2px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6 #m-5d1cb25b-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#m-5d1cb25b-ae81-466d-ad67-c27a15ae02b6.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}