#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_17 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #41474D;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_17 {
  position: absolute;
  width: 71px;
  height: 66px;
  opacity: 0.9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_17 > .clipping, #m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_17 > .paddingLayer {
  height: 64px;
  width: 69px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_17 span#rtr-m-5e1bd681-Rectangle_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_1 {
  position: absolute;
  width: 1305px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_1 > .clipping, #m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_1 > .paddingLayer {
  height: 50px;
  width: 1305px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_1 span#rtr-m-5e1bd681-Rectangle_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Image_2 > svg {
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Image_2 {
  position: absolute;
  width: 24px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Image_2 > img, #m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Image_2 > svg {
  height: 18px;
  width: 24px;
  box-shadow: none;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Text_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Text_5 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 18.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Text_5 > .clipping, #m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Text_5 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Text_5 span#rtr-m-5e1bd681-Text_5_0 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 18.0pt;
  line-height: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #shapewrapper-m-5e1bd681-Line_1 marker {
  fill: #404040;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #shapewrapper-m-5e1bd681-Line_1 {
  position: absolute;
  width: 1314px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Line_1 {
  width: 1314px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #404040;
  box-shadow: none;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}