#m-aa0b8f30-ab7d-4a70-b9ba-1c353205db72 #m-aa0b8f30-Rectangle_16 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 21px 21px 21px 21px;
  -ms-transform: rotate(0.0deg);
}
#m-aa0b8f30-ab7d-4a70-b9ba-1c353205db72 #m-aa0b8f30-Rectangle_17 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 19px 19px 19px 19px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
  -ms-transform: rotate(0.0deg);
}
#m-aa0b8f30-ab7d-4a70-b9ba-1c353205db72 #m-aa0b8f30-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 19px 19px 19px 19px;
  -ms-transform: rotate(0.0deg);
}
#m-aa0b8f30-ab7d-4a70-b9ba-1c353205db72 #m-aa0b8f30-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#m-aa0b8f30-ab7d-4a70-b9ba-1c353205db72 #m-aa0b8f30-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#m-aa0b8f30-ab7d-4a70-b9ba-1c353205db72.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}