#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_19 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_20 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4 #m-add2bb81-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-add2bb81-e012-430e-825a-53aae0e57db4.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}