#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}