#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_17 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-5e1bd681-ee9a-401d-a3d0-d207ef29eae8 #m-5e1bd681-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-01de8dc3-c48f-4553-911e-d84823348ec5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}